/* App.css */

/* Ensure the app takes up at least the full viewport height */
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Make the main content area take up all available space */
  main {
    flex: 1;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  /* Responsive padding for the main content area */
  @media (min-width: 640px) {
    main {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  
  @media (min-width: 768px) {
    main {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  
  @media (min-width: 1024px) {
    main {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media (min-width: 1920px) {
    main {
      padding-left: 15%;
      padding-right: 15%;
    }
  }
  
  /* Ensure that the Navbar is fixed at the top */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  /* Style adjustments for the Footer */
  .footer {
    margin-top: auto;
  }


  /* inicio spinner */
  .loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
  }
  
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid rgb(56, 56, 248);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loading-text {
    color: white;
    margin-top: 10px;
    font-size: 1.2em;
  }

    /* fin spinner */